.tos-back {
  position: absolute;
  top: 1rem;
  align-self: flex-start;
  background: linear-gradient(135deg, #503869, #f5be09);
  border-radius: 20%;
  margin-bottom: 1rem;
}

.tos-back:hover {
  box-shadow: 0 0 0.3rem 0.3rem rgb(105, 107, 70);
}

.tos-back a {
  text-decoration: none;
  color: inherit;
}

.tos-back a:hover {
  color: rgb(214, 228, 21);
}

.terms-container {
  margin: 0 auto;
  max-width: 75rem;
  min-height: 100vh;
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.terms-description {
  padding: 1rem;
}

.terms-conditions {
  padding: 1rem;
}
