.error-back {
  position: absolute;
  margin: 20rem auto;
  top: 1rem;
  align-self: flex-start;
  background: linear-gradient(135deg, #503869, #f5be09);
  border-radius: 20%;
  margin-bottom: 1rem;
}

.error-back:hover {
  box-shadow: 0 0 0.3rem 0.3rem rgb(105, 107, 70);
}

.error-back a {
  text-decoration: none;
  color: inherit;
}

.error-back a:hover {
  color: rgb(214, 228, 21);
}

.error-container {
  margin: 20rem auto;
  max-width: 75rem;
  background: linear-gradient(135deg, #543f69, #695a29);
  min-height: 10vh;
  padding: 2.5rem 1.25rem;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-title {
  font-size: 5rem;
  padding: 1rem;
}
