.td-back {
  position: absolute;
  top: 1rem;
  align-self: flex-start;
  background: linear-gradient(135deg, #503869, #f5be09);
  border-radius: 20%;
  margin-bottom: 1rem;
}

.td-back:hover {
  box-shadow: 0 0 0.3rem 0.3rem rgb(105, 107, 70);
}

.td-back a {
  text-decoration: none;
  color: inherit;
}

.td-back a:hover {
  color: rgb(214, 228, 21);
}

.td-container {
  margin: 0 auto;
  max-width: 75rem;
  background: linear-gradient(135deg, #543f69, #695a29);
  min-height: 100vh;
  padding: 2.5rem 1.25rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.td-title,
.td-description {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.td-responsive-iframe {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  margin-bottom: 2rem;
}

.td-responsive-iframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.td-images-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem auto;
  padding: 1rem;
}

.td-images-wrapper img {
  padding: 0.3rem;
  max-width: 100%;
  height: auto;
}

.td-usage {
  padding: 3rem;
}

@media (max-width: 1200px) {
  .td-images-wrapper img {
    max-width: 38rem;
  }
}

@media (max-width: 768px) {
  .td-images-wrapper img {
    max-width: 32rem;
  }
}

@media (max-width: 672px) {
  .td-images-wrapper img {
    max-width: 26rem;
  }
}

@media (max-width: 480px) {
  .td-images-wrapper img {
    max-width: 20rem;
  }
}
